/* src/styles.css */

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

nav {
  background-color: #333;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 10px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
}

nav a:hover {
  background-color: #555;
}

/* Move the Contact link to the right corner */
nav .contact-link {
  margin-left: auto;
}

footer {
  background-color: #333;
  color: white;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.footer-links {
  display: flex;
  align-items: center;
}

.footer-link {
  text-decoration: none;
  color: white;
  margin-right: 20px;
}

.footer-link:hover {
  text-decoration: underline;
}

/* Individual page styles */

/* Home */
.home-content {
  padding: 20px;
}

/* Jobs */
.jobs-content {
  padding: 20px;
}

.job-listings {
  display: flex;
  flex-wrap: wrap;
}

.job-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
  width: 300px;
}

.job-card h3 {
  margin-top: 0;
}

.job-location {
  font-style: italic;
}

/* Courses */
.courses-content {
  padding: 20px;
}

.course-listings {
  display: flex;
  flex-wrap: wrap;
}

.course-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
  width: 300px;
}

.course-card h3 {
  margin-top: 0;
}

/* Blog */
.blog-content {
  padding: 20px;
}

.blog-posts {
  display: flex;
  flex-wrap: wrap;
}

.blog-post {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
  width: 300px;
}

.blog-post h3 {
  margin-top: 0;
}

.read-more-link {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.read-more-link:hover {
  text-decoration: underline;
}

/* About */
.about-content {
  padding: 20px;
}

/* ContactUs */
.contact-us-content {
  padding: 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

.contact-form label {
  margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 10px;
  padding: 8px;
}

.contact-form button {
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.contact-form button:hover {
  background-color: #555;
}
